                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                .container {
                    margin: 70px auto;
                    width: 1000px;
                }
                
                .row_up {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 50px;
                }
                
                .text {
                    width: 35%;
                }
                
                h1 {
                    font-family: 'Spartan', sans-serif;
                    font-weight: 700;
                    color: hsl(300, 43%, 22%);
                    margin-bottom: 10px;
                }
                
                p {
                    color: hsl(303, 10%, 53%);
                }
                
                .rating {
                    width: 45%;
                    position: relative;
                }
                
                .rating_row {
                    width: 100%;
                    background: hsl(300, 24%, 96%);
                    margin-bottom: 10px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-around;
                }
                
                .left_1 {
                    position: absolute;
                    right: 90px;
                    padding: 10px;
                }
                
                .left_2 {
                    position: absolute;
                    top: 63px;
                    right: 43px;
                    padding: 10px;
                }
                
                .left_3 {
                    position: absolute;
                    top: 130px;
                    left: 0;
                    padding: 10px;
                }
                
                .starts {
                    margin: auto 5px;
                }
                
                h4 {
                    margin: auto;
                    color: hsl(300, 43%, 22%);
                }
                
                .row-down {
                    width: 100%;
                    /* height: 200px; */
                    position: relative;
                    display: flex;
                }
                
                .card {
                    width: 32%;
                    background: hsl(300, 43%, 22%);
                    border-radius: 10px;
                    padding: 25px;
                    display: flex;
                    flex-direction: column;
                }
                
                .card_header {
                    display: flex;
                    margin-bottom: 20px;
                }
                
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }
                
                .card_name {
                    padding-left: 10px;
                    padding-top: 5px;
                }
                
                .sub_name {
                    color: hsl(333, 80%, 67%);
                    letter-spacing: 1px;
                }
                
                .card_name h4 {
                    color: white;
                    margin-bottom: 5px;
                    letter-spacing: 1px;
                }
                
                .card_text {
                    color: hsla(0, 0%, 90%, 0.856);
                    letter-spacing: 1px;
                }
                
                .card_2 {
                    margin: 0 15px;
                    position: absolute;
                    top: 17px;
                    right: 323px;
                }
                
                .card_3 {
                    position: absolute;
                    top: 40px;
                    right: 0;
                }
                /*-------------------mobil design -----------------*/
                
                @media( min-width: 280px) and (max-width: 900px) {
                    .container {
                        width: 100%;
                        margin: auto;
                    }
                    .row_up {
                        display: flex;
                        flex-direction: column;
                        padding: 40px 10px;
                        margin: 0;
                    }
                    .card {
                        width: 30%;
                    }
                    .rating {
                        margin: auto;
                        width: 50%;
                    }
                    .text {
                        width: 49%;
                        margin: auto;
                    }
                    .text p {
                        margin: 10px 0;
                    }
                    .card_2 {
                        position: absolute;
                        top: 50px;
                    }
                    .left_1,
                    .left_2,
                    .left_3 {
                        margin: auto;
                        margin-bottom: 10px;
                        position: unset;
                        padding: 0;
                    }
                    .row-down {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                    }
                    .card {
                        width: 50%;
                        position: unset;
                        margin: auto;
                        margin-bottom: 10px;
                    }
                }