            html {
                font-size: 100%;
                box-sizing: border-box;
            }
            
            *,
            *::after,
            *::before {
                box-sizing: inherit;
            }
            
            body {
                margin: 0;
                padding: 0;
                line-height: 1.3;
                font-size: $font-md;
                color: $grayishBlue;
                font-weight: 300;
            }
            
            a,
            a:visited,
            a:hover {
                text-decoration: none;
            }
            
            //========flexbox========
            .flex {
                display: flex;
                &-jc-c {
                    justify-content: center;
                }
                &-jc-sb {
                    justify-content: space-between;
                }
                &-ai-c {
                    align-items: center;
                }
            }
            
            //========spacing========
            .container {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
            
            .button {
                padding: 0.875rem 1.875rem;
                border-radius: 50px;
                cursor: pointer;
                background: linear-gradient(to right, $limeGreen, $brightCyan);
                border: 0;
                outline: 0;
                color: $white;
                font-weight: 400;
                a {
                    color: $white;
                    opacity: 0.85;
                }
            }
            
            // Visibility
            .hide-for-mobile {
                @include breakpoint-down(medium) {
                    display: none;
                }
            }
            
            .hide-for-desktop {
                @include breakpoint-up(large) {
                    display: none;
                }
            }